 body {
  font-family: Arial;
  background: #f2f0ff;
  text-align: center;
  padding: 30px;
}

h1 {
  color: purple;
}

input {
  padding: 10px;
  margin: 5px;
}

button {
  padding: 10px;
  background: purple;
  color: white;
  border: none;
  cursor: pointer;
}

li {
  margin: 10px;
  list-style: none;
}
